---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me?access_token=invalid
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      WWW-Authenticate:
      - OAuth "Facebook Platform" "invalid_token" "Invalid OAuth access token."
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"error":{"message":"Invalid OAuth access token.","type":"OAuthException","code":190}}'
      effective_url: https://graph.facebook.com/me?access_token=invalid
  recorded_at: Fri, 27 Jun 2014 04:14:07 GMT
recorded_with: VCR 2.9.2
