<div class="header" ng-controller="RegisterCtrl" ng-include src="'./views/navbar.html'" >
</div>

<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
  </p>
</div>
<div class="row">
  <h4>{{ items.length }} Items </h4>
  <div ng-repeat="list in splitted" class="row">
    <div ng-repeat="item in list" class="col-md-4 item">
      <a href="#">
        <img class="image" src="{{item.images[0].url || default_image }}" width="100%" ></img>
        <div class="content">
          <h5>{{item.title}}</h5>
          <span class="price">${{item.price}}<span>
        </div>
      </a>
    </div>
  </div>
</div>
