<ul class="nav nav-pills pull-right" data-ng-show="logged">
  <li>
    <figure><img class="small-avatar" ng-src="{{user.picture.data.url}}"></figure>
  </li>
  <li><a ng-href="#">Hola {{user.name}}</a></li>
  <li><a class="logout" data-ng-disabled="!facebookReady" data-ng-click="logout()">Logout</a></li>
</ul>
<ul class="nav nav-pills pull-right" data-ng-show="!logged">
  <li><a ng-href="#/about">About</a></li>
  <li class="active"><a data-ng-disabled="!facebookReady" data-ng-click="login()">Entra</a></li>
</ul>
<a href="#"><h3 class="text-muted">Karin & Kuki sell their stuff</h3></a>

<alert ng-show="alert" type="warning" close="closeAlert()" ng-hidde="alert">"Tienes que estar logeado para poder reservar"</alert>
